<div class="container">
	<h3 style="padding-top: 20px;">Web & Mobile</h3>
	<div class="jum">
		<img src="/img/2.jpg" style="height: 200px;">
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi aliquet justo tincidunt facilisis. Praesent mollis velit metus, vel posuere odio maximus non. Suspendisse nec nibh ac metus interdum ornare sed eget turpis. Morbi suscipit metus vel faucibus volutpat. </p>
	<form name="comment" style="margin-bottom: 30px;">
		<h3>Comments</h3>
		<div class="row">
			<label class="col-sm-2" style="margin-top: 3px">Add a new comment</label>
			<input class="col-sm-9" type="text" name="comment" placeholder="Enter your comment" style="border-radius: 5px;">
			<button class="btn btn-primary" style="    margin-left: 5px;">Post</button>
		</div>
	</form>
	<div class="com">
		<button class="edit btn btn-info"><i class="fa fa-edit"></i></button>
		<button class="del btn btn-danger"><i class="fas fa-times"></i></button>
		<div style="display: inline-block; width: 90%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi aliquet justo tincidunt facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi aliquet justo tincidunt facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi aliquet justo tincidunt facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi aliquet justo tincidunt facilisis</div>
	</div>
	<div class="com">
		<button class="edit btn btn-info"><i class="fa fa-edit"></i></button>
		<button class="del btn btn-danger"><i class="fas fa-times"></i></button>
		<div style="display: inline-block; width: 90%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi aliquet justo tincidunt facilisis.</div>
	</div>
	<div class="com">
		<button class="edit btn btn-info"><i class="fa fa-edit"></i></button>
		<button class="del btn btn-danger"><i class="fas fa-times"></i></button>
		<div style="display: inline-block; width: 90%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi aliquet justo tincidunt facilisis.</div>
	</div>
	<div class="com">
		<button class="edit btn btn-info"><i class="fa fa-edit"></i></button>
		<button class="del btn btn-danger"><i class="fas fa-times"></i></button>
		<div style="display: inline-block; width: 90%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi aliquet justo tincidunt facilisis.</div>
	</div>
	<div class="com">
		<button class="edit btn btn-info"><i class="fa fa-edit"></i></button>
		<button class="del btn btn-danger"><i class="fas fa-times"></i></button>
		<div style="display: inline-block; width: 90%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi aliquet justo tincidunt facilisis.</div>
	</div>
	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center">
	    <li class="page-item disabled">
	      <a class="page-link" href="#" tabindex="-1">Previous</a>
	    </li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item">
	      <a class="page-link" href="#">Next</a>
	    </li>
	  </ul>
	</nav>
</div>
