
<div class="container">
  <h1 style="padding: 50px; color: darkgray; font-size: 60px;">User Experience Design<br>for Web & Mobile</h1>
  <hr>
  <div class="card-group" style="padding-bottom: 50px;">
    <div class="card">
      <img class="card-img-top" src="img/1.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Design Research</h5>
        <p class="card-text">We help you better understand the needs and goals of your customers, uncovering key insights that drive innoative design ideas.</p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Web & Mobile</h5>
        <p class="card-text">We design desktop and tablet websites, mobile websites, mobile apps, and other screen based user experiences.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Usability</h5>
        <p class="card-text">We evaluate the success of an experience by testing it with real people. Our usability lab is equipped for desktop and mobile testing.</p>
      </div>
    </div>
  </div>
  <hr>
</div>
